.input {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  
}

.textarea {
  width: 450px;
  height: 450px;
  padding: 20px;
  background-color:white;
}

.main_button {
  background-color: rgb(20, 169, 228);
  color: white;
  height: 30px;
  width: 120px;
  margin: 30px;
}
.whole-main {
  /* background-image: url("https://wallpaperaccess.com/full/2862101.jpg");
  background-color: #cccccc; */
  background-color: white;
}

.jumbotron {
  background-image: url("https://wallpaperaccess.com/full/2862101.jpg");
  background-color: #cccccc;

 
}

.jumbotron--lead {
  color: white;

}
.jumbotron-heading {
  color: white;

}
#main_form {
   display: flex;
  flex-direction: row;

}

.upload-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.job-upload {
  background-color: white;
  margin-right: 3rem;
  margin-left: 1rem;
}

.resume-upload {
  background-color: white;
  margin-right: 2rem;
}

.results_container {
  display: flex;
  justify-content: center;
  border: rgb(108, 108, 197) 20px solid;
  padding: 20px;
}

.bars_container {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px 0;
}

.bars_container span {
  text-align: right;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #0275d8;
  font-weight: 600;
  font-size: 1.5em;
}