

form {
  display: flex;
  justify-content: space-between;
  width: 1500px;
  
}

.textarea {
  width: 700px;
  height: 450px;
  padding: 20px;
  background-color:white;
}

.main_button {
  background-color: rgb(20, 169, 228);
  color: white;
  height: 30px;
  width: 120px;
  margin: 30px;
}
.whole-main {

  background-color: white;
}

.jumbotron {
  background-color: #3b76e4;
  display: flex;

 
}

.jumbotron--lead {
  color: white;

}
.jumbotron-heading {
  color: white;

}


.upload-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.job-upload {
  background-color: white;
  width: 10px;

}

.resume-upload {
  background-color: white;
  width: 10px;
}

.results_container {
  display: flex;
  justify-content: center;
  border: rgb(235, 235, 241) 20px solid;
  padding: 20px;
}

.bars_container {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px 0;
}

.bars_container span {
  text-align: right;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #0275d8;
  font-weight: 600;
  font-size: 1.5em;
}

.logo_container img {
  height: 50px;
  filter: invert(3);
}

.job-area textarea {
  border: 5px #0275d8 solid;
  text-align: center;
  padding: 100px 0;

}

.resume-area textarea {
  border: 5px #0c7e49 solid; 
  text-align: center;
  padding: 100px 0;


}

.job-area {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.resume-area {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
  border: none;
}

textarea:focus {
  background-color: rgb(231, 224, 224);
  border: none;
}

.input {
  display: flex;
  justify-content: center;
}

.result_table_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  border: rgb(235, 235, 241) 20px solid;

  
}
.overview {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: rgb(235, 235, 241);
  width: 100%;
  margin-bottom: -30px;
}


